.layout {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* spatiu intre coloane */
  column-gap: 30px;
}
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.content {
  flex: auto;
  height: 100%;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-container {
  width: 200px;
  max-width: 100%;
  margin: 90px 0px 0px 0px;
  display: inline-block;
  vertical-align: top;
}
.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  background-color: white;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  vertical-align: baseline;
  text-align: center;
  margin-top: 10px;
  width: 80px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-raised-button1 {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  background-color: #198cff;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: aliceblue;
  vertical-align: baseline;
  text-align: center;
  margin-top: 10px;
  width: 80px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-raised-button2 {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  background-color: #ff1919;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: aliceblue;
  vertical-align: baseline;
  text-align: center;
  margin-top: 10px;
  width: 255px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sprintInfoText {
  margin-left: 15px;
}
.example-list {
  border: solid 1px black;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-left: -180px;
  display: block;
  height: 100px;
}
.scrolling-container {
  display: block;
  width: 250px;
  height: 400px;
  margin-top: 175px;
  padding-top: 50px;
}
.container2 {
  display: block;
  width: 200px;
  height: 400px;
  border: solid 1px black;
  margin-top: 0px;
  margin-left: 25px;
}
.mat-list-base {
  margin-top: 100px;
  padding-top: 0px;
}
/* .list-item {
  border-bottom: solid 1px black;
} */
.example-container {
  width: 200px;
  max-width: 100%;
  margin: 90px 0px 0px 0px;
  display: inline-block;
  vertical-align: top;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* spatiu intre coloane */
  column-gap: 30px;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 50px;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 625px;
  width: 200px;
  position: fixed;
  z-index: 1;
}
.searchInput {
  margin-left: 40px;
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  margin-left: 175px;
  width: 24px;
  cursor: pointer;
}
.mat-icon1 {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;

  margin-left: 30px;
  cursor: pointer;
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  margin-left: 20px;
}
.mat-icon-2 {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 350px;
  margin-top: 35px;
  cursor: pointer;
}
.icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  margin-left: 177px;
  margin-bottom: 50px;
  cursor: pointer;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px black;
  display: flex;
  height: 125px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}
.icon {
  align-items: flex-start;
}
.cdk-virtual-scroll-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  contain: content;
  padding-top: 50px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* .badge {
  /* margin: 0 0 12px; */
/* margin-left: 90px;
 */
*/ em {
  color: #e71515;
  font-weight: bold;
}
.mat-badge-content {
  background-color: red;
}
sup {
  top: -0.5em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.example-card {
  display: inline-flex;
  height: 250px;
  width: 300px;
  padding-top: 16px;
  margin-bottom: 10px;
  margin-left: 30px;

  flex-direction: column;
  color: inherit;
  background: var(--ds-surface-raised, white);
  /* border-top: none;
  border-right: none;
  border-bottom: none; */
  border-radius: 10px;
  border-left: 15px solid
    var(--ds-background-accent-purple-subtler, rgb(238, 238, 155));
  border-right: 0.5px solid
    var(--ds-background-accent-purple-subtler, rgb(194, 191, 191));
  border-top: 0.5px solid
    var(--ds-background-accent-purple-subtler, rgb(194, 191, 191));
  border-bottom: 0.5px solid
    var(--ds-background-accent-purple-subtler, rgb(194, 191, 191));
  box-sizing: border-box;
  box-shadow: var(
    --ds-shadow-raised,
    0 1px 1px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31)
  );
  transition: box-shadow 0.3s ease-in-out 0s, border-color 0.6s ease-in 0s;
}
.example-card-feature {
  display: inline-flex;
  height: 250px;
  width: 300px;
  padding-top: 16px;
  margin-bottom: 10px;
  margin-left: 30px;

  flex-direction: column;
  color: inherit;
  background: var(--ds-surface-raised, white);
  /* border-top: none;
  border-right: none;
  border-bottom: none; */
  border-radius: 10px;
  border-left: 20px solid var(--ds-background-accent-purple-subtler, #bbffa5);
  border-right: 0.5px solid
    var(--ds-background-accent-purple-subtler, rgb(194, 191, 191));
  border-top: 0.5px solid
    var(--ds-background-accent-purple-subtler, rgb(194, 191, 191));
  border-bottom: 0.5px solid
    var(--ds-background-accent-purple-subtler, rgb(194, 191, 191));
  box-sizing: border-box;
  box-shadow: var(
    --ds-shadow-raised,
    0 1px 1px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31)
  );
  transition: box-shadow 0.3s ease-in-out 0s, border-color 0.6s ease-in 0s;
}
.text {
  font-size: 12px;
}
.layout {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.content-text {
  text-align: center;
  border-bottom: solid 1px #212529;
  margin-top: 29px;
}
.content-text-2 {
  text-align: center;
  border-bottom: solid 1px #212529;
}
.titleText {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}
.searchInput {
  margin-left: 40px;
}
.buttons {
  margin-left: 10px;
}
.button {
  margin-top: 175px;
  margin-left: 50px;
}
.select {
  z-index: 9999;
}

/* .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
} */

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: flex;
  flex-direction: column;
  height: 250px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
  overflow-y: scroll;
}
.list-item {
  display: flex;
  flex-direction: column;
  height: 250px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
}
.mat-list-item-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  overflow-y: scroll;
}
.alignAddButton {
  margin-left: 30px;
  margin-bottom: 10px;
}
.searchInput {
  margin-right: 50px;
}
/* .mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end)
  .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end)
  .mat-stroked-button:first-child {
  margin-bottom: 7px;
  margin-left: 20px;
} */
.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end)
  .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end)
  .mat-stroked-button:first-child {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 0 3px;
}
