.mat-sidenav-container {
  /* margin:16px;
    width:200px;
    border-right:none;
    background:rgb(12, 12, 243);
    color:rgb(237, 143, 143);
    border-radius: 10px;
    padding: 16px;
    text-align: center; */
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #afeeee;
  height: 100%;
  color: white;
  position: fixed;
  margin-top: 62px;
  z-index: 1;
}
.mat-sidenav {
  background: #3f51b5;
}
.mat-sidenav-content {
  height: auto;
  padding: 20px 30px;
}
/* .mat-sidenav-container{
   height: 100%;
} */
/* .content {
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

   padding:20px; 
} */
em {
  color: #e71515;
  font-weight: bold;
}
.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  background-color: #198cff;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: aliceblue;
  vertical-align: baseline;
  text-align: center;
  margin-top: 10px;
  width: 138px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
