.layout {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.content {
  flex: auto;
  height: 100%;
}
